version: 3

images:
  base_image:
    name: quay.io/ansible/awx-ee:latest

dependencies:
  galaxy:
    collections:
      - name: cisco.ios
      - name: ansible.netcommon
  python:
    - paramiko
    - netmiko
